<app-sidenav>
  <div class="card-grid card__content">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-7 col-lg-6">
        <app-bot-settings [botDetail]="botDetail$ | async"></app-bot-settings>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-6">
        <app-bot-profit></app-bot-profit>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-7 col-lg-6">
        <app-active-transactions></app-active-transactions>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-6">
        <app-trade-history></app-trade-history>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card card_grid_row">
          <div class="card__header">
            <div class="text-center">Chart</div>
          </div>
          <app-tradingviewchart></app-tradingviewchart>
          <!-- <button class="button" [routerLink]="['/plot', botDetail?.botId]">Expand</button> -->
        </div>
      </div>
    </div>
  </div>
</app-sidenav>