
<app-sidenav>
  <div class="card-grid card__content row">
    <div class="col">
      <div class="card card_grid_row">
        <div class="card__content row">
          <div class="col-lg-auto col-12">
            <button class="btn btn-success" (click)="newBotClick()">
              New Bot
            </button>
          </div>
          <div class="col-lg col-12">
            Virtual trading is a safe way to test MegaLadon bots. A virtual balance is used and you don't risk any of your funds, yet you see how the strategy is working.
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <app-bot-detail-list></app-bot-detail-list>
      <br/>
      <app-virtual-bot-detail-list></app-virtual-bot-detail-list>
      <div class="card card_grid_row">
        <div class="card__content row">
          <div class="col-lg-auto col-12">
            <button class="btn btn-success" (click)="newStrategyClick()">
              New Strategy
            </button>
          </div>
          <div class="col-lg col-12">
            Virtual trading is a safe way to test MegaLadon bots. A virtual balance is used and you don't risk any of your funds, yet you see how the strategy is working.
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card">
        <div class="card__header">
          <h1 class="display-4 text-center">Strategy List</h1>
          <hr>
        </div>
        <div class="card__content card__content_nopadding">
          <app-strategy-detail-list></app-strategy-detail-list>
        </div>
      </div>
    </div>
  </div>
</app-sidenav>
