<mat-drawer-container>
	<mat-drawer #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="!mobileQuery.matches" [ngClass]="{'sidenav-collapsed': collapsedNav && !mobileQuery.matches}">
		<div class="sidenav-header">
			<span>{{collapsedNav && !mobileQuery.matches ? 'M' : 'MegaLadon'}}</span>
		</div>
        <app-adminnavoptions></app-adminnavoptions>
	</mat-drawer>
	<mat-drawer-content [ngClass]="{'sidenav-collapsed': collapsedNav && !mobileQuery.matches}">
		<mat-toolbar>
			
			<button mat-icon-button (click)="mobileQuery.matches ? snav.toggle() : collapsedNav = !collapsedNav">
        <mat-icon>menu</mat-icon>
      </button>
		</mat-toolbar>
		<mat-card>
			<mat-card-header>
				<mat-card-title>Home</mat-card-title>
				<mat-card-subtitle>Admin functions</mat-card-subtitle>
			</mat-card-header>
			<mat-card-content>

			</mat-card-content>
			<mat-card-actions>
                <app-botengine-start></app-botengine-start>
			</mat-card-actions>
		</mat-card>
	</mat-drawer-content>
</mat-drawer-container>
