<ul>
    <li>
        <a href="/home"><mat-icon>home</mat-icon></a>
    </li>
    <li>
        <a href="/admin/bots"><mat-icon>android</mat-icon></a>
    </li>
    <li>
        <a href="/admin/transactions"><mat-icon>business</mat-icon></a>
    </li>
    <li>
        <a href="/admin/scores"><mat-icon>analytics</mat-icon></a>
    </li>
    <li>
        <a href="/admin/equities"><mat-icon>attach_money</mat-icon></a>
    </li>
    <li (click)="onLogout()">
        <a href=""><mat-icon>exit_to_app</mat-icon></a>
    </li>
</ul>