<footer class="wrapper">
  <div class="row">
    <div class="col-12 col-md">
      <p class="text-muted">RISK WARNING: Please note that CFDs and/or Forex instruments’ trading entails substantial risk of loss, and may not be suitable to everyone. It is possible to lose all of your invested capital.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md">
      <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" routerLink="/privacy" routerLinkActive="active">Privacy</a> </li>
        <li><a class="text-muted" routerLink="/terms">Terms</a></li>
      </ul>
    </div>
    <div class="col-12 col-md">
        <img src="./assets/img/shark-logo.png" width="32" height="32"/>
        <h6>Let's do this.</h6>
      <small class="d-block mb-3 text-muted">         
          &copy; 2021 <a href="https://www.megaladon.herokuapp.com" class="m-link">Megaladon</a>. <br/>
      </small>
    </div>
  </div>
</footer>