<mat-drawer-container>
	<mat-drawer #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="!mobileQuery.matches" [ngClass]="{'sidenav-collapsed': collapsedNav && !mobileQuery.matches}">
		<div class="sidenav-header">
			<span>			
				<img style="width:50px;" src="./assets/img/shark-logo.png"/>
				{{collapsedNav && !mobileQuery.matches ? '' : 'Megaladon'}}
			</span>
		</div>
		<!-- <app-navoptions></app-navoptions> -->
		<mat-nav-list>
			<mat-list-item class="parent" [routerLink]="['/home']">
				<span class="full-width" *ngIf="!collapsedNav">Home</span>
				<mat-icon mat-list-icon>home</mat-icon>
			</mat-list-item>
			<mat-list-item class="parent" [routerLink]="['/bots']">
				<span class="full-width" *ngIf="!collapsedNav">My bots</span>
				<mat-icon mat-list-icon>android</mat-icon>
			</mat-list-item>
			<mat-list-item class="parent" [routerLink]="['/accesspoints']">
				<span class="full-width" *ngIf="!collapsedNav">Access points</span>
				<mat-icon mat-list-icon>share</mat-icon>
			</mat-list-item>
			<mat-list-item class="parent" [routerLink]="['/ranking']">
				<span class="full-width" *ngIf="!collapsedNav">Bot ranking</span>
				<mat-icon mat-list-icon>military_tech</mat-icon>
			</mat-list-item>
			<mat-list-item class="parent" (click)="onLogout()">
				<span class="full-width" *ngIf="!collapsedNav">Exit</span>
				<mat-icon mat-list-icon>exit_to_app</mat-icon>
			</mat-list-item>
		</mat-nav-list>
	</mat-drawer>
	<mat-drawer-content [ngClass]="{'sidenav-collapsed': collapsedNav && !mobileQuery.matches}">
		<mat-toolbar>
			<button class="btn btn-dark" (click)="mobileQuery.matches ? snav.toggle() : collapsedNav = !collapsedNav">
        		<mat-icon>menu</mat-icon>
      		</button>
			<p class="label-right" *ngIf="userDetails$ | async as userDetails">        
				<button class="btn btn-dark" [routerLink]="['/subscription']">
					<mat-icon>person</mat-icon>
				</button>
				{{ ' Hello, ' + userDetails.userName }}
			</p>
		</mat-toolbar>
		<ng-content></ng-content>
		<mat-divider></mat-divider>
		<app-sidenav-footer></app-sidenav-footer>
	</mat-drawer-content>
</mat-drawer-container>