<nav class="site-header sticky-top py-1">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    <a class="py-2" [routerLink]="['/']">
      <img src="./assets/img/shark-logo.png" width="34" height="32"/>
    </a>
    <a class="py-2 d-none d-md-inline-block" [routerLink]="['/product']">Product</a>
    <a class="py-2 d-none d-md-inline-block" [routerLink]="['/feature']">Features</a>
    <a class="py-2 d-none d-md-inline-block" [routerLink]="['/enterprise']">Enterprise</a>
    <a class="py-2 d-none d-md-inline-block" [routerLink]="['/support']">Support</a>
    <a class="py-2 d-none d-md-inline-block" [routerLink]="['/pricing']">Pricing</a>
    <a class="py-2 d-none d-md-inline-block" [routerLink]="['/user/login']">Login</a>
  </div>
</nav>
